
<form class="login-form">
    <div>
        <label for="username-login">Username:</label>
        <input type="text" id="username-login" />
    </div>
    <div class="mt15">
        <label for="password-login">Password:</label>
        <input type="password" id="password-login">
    </div>
    <div class="mt15">
        <button type="submit">Login</button>
    </div>
    
    <div class="mt15">
        <a href="./signup"><span>Not a member yet? Sign up here!</span></a>
    </div>
</form>
<script src= "/js/login.js"></script>