<h1>cmnt.</h1>

<form class="login-form">
    <div>
        <label for="username-login">Username:</label>
        <input type="text" id="username-login" />
    </div>
    <div>
        <label for="password-login">password:</label>
        <input type="password" id="password-loogin">
    </div>
    <div>
        <button type="submit">login</button>
    </div>
    <a href="./signup"><span>Not a Memeber Yet? SignUp here!</span></a>
</form>
<script src= "/js/login.js"