<form class="signup-form">
    <div>
        <label for="username-signup">Username:</label>
        <input type="text" id="username-signup" />
    </div>
    <div class="mt15">
        <label for="password-signup">Password:</label>
        <input type="password" id="password-signup" />
    </div>
    <div class="mt15">
        <button type="submit">Signup</button>
    </div>
</form>

<script src="/dist/main.bundle.js"></script>